.idea/
.intellij/
*.iml
.vscode/
.DS_Store
/dist
/webui/.tmp/
/site/
/docs/site/
/autogen/
/traefik
/traefik.toml
/traefik.yml
*.log
*.exe
cover.out
vendor/
plugins-storage/
plugins-local/
traefik_changelog.md
integration/tailscale.secret
/frontend/.cache-loader
/frontend/.webpack-cycles
/frontend/__coverage__
/frontend/__chrome_browser__
/frontend/**/node_modules
/frontend/public/bower_components
/frontend/public/dist
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/gui_test_screenshots
